@use "./utilities/index" as *;

:root {
	--purple: hsl(259, 100%, 65%);
	--white: hsl(0, 0%, 100%);
	--off-white: hsl(0, 0%, 94%);
	--light-grey: hsl(0, 0%, 86%);
	--smokey-grey: hsl(0, 1%, 44%);
	--off-black: hsl(0, 0%, 8%);
	--light-red: hsl(0, 100%, 67%);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--off-white);
	background-color: #333;
	font-family: "Poppins", sans-serif;
}

.main {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 2.3em;
	max-width: 343px;
	background-color: var(--white);
	border-radius: 1em;
	border-bottom-right-radius: 6em;
	padding: 1.3em;
	z-index: 3;

	&__box {
		display: flex;
		column-gap: 1em;
		margin-top: 1.5em;
		&-content {
			&-label {
				display: block;
				margin-bottom: 0.5em;
				font-size: 1rem;
				font-weight: 700;
				letter-spacing: 2px;
				color: var(--smokey-grey);
				text-transform: uppercase;
			}

			&-input {
				padding: 0.5em;
				width: 100%;
				border: 1px solid var(--light-grey);
				border-radius: 0.5em;
				font-weight: 800;
			}

			&-error {
				display: none;
				color: var(--light-red);
				font-style: italic;
				font-size: 1.2rem;
			}
		}
	}

	&__btn {
		width: 100%;
		position: relative;

		&::before {
			position: absolute;
			content: "";
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			height: 2px;
			width: 100%;
			background-color: var(--light-grey);
			z-index: 0;
			opacity: 0.5;
		}
		&-box {
			margin: 0 auto;
			display: flex;
			justify-content: center;

			&-img {
				width: 75%;
				padding: 0.8em;
				border-radius: 50%;
				background-color: var(--purple);
				z-index: 4;
			}
		}
	}

	&__content {
		align-self: flex-start;

		&-text {
			font-size: 5rem;
			font-weight: 800;
			color: var(--off-black);
			font-style: italic;
			
			span {
				color: var(--purple);
			}
		}
	}
}

@media (min-width: 992px) {
	.main {
		padding: 3em;
		max-width: 600px;
		border-bottom-right-radius: 10em;

		&__box {
			align-self: flex-start;
			width: 77%;
			margin-top: 0;

			&-content {
				&-input {
					font-size: 2rem;
					transition: border 0.2s;

					&:hover {
						border: 1px solid var(--off-black);
					}
				}
				&-error {
					margin-top: 0.5em;
					font-size: 1.1rem;
				}
			}
		}

		&__btn {
			&-box {
				margin-right: 0;

				&-img {
					width: 80%;
					width: 63.2333px;
					padding: 1.3em;
					transition: background-color 0.2s;
				}

				&:hover {
					.main__btn-box-img {
						background-color: var(--off-black);
					}
				}
			}
		}

		&__content {
			&-text {
				line-height: 1.1;
				font-size: 7.5rem;
			}
		}
	}
}
